img {
  border: 5px solid purple;
}

img{
  height:300px;
  width:300px;
}

div{

  display:flex;
  flex-wrap: wrap;
justify-content: center;

}

h1 {
  color: blue
}

  @media screen and (max-width:900px){
    h1{font-size: 20px;
}
}


@media screen and (max-width:900px){
  body {background-color: lavender;
}
}
